.mainContainer {
    height: 1000px;
}

.border-brown {
    border-style: solid;
    border-color: brown;
}

.border-red {
    border-style: solid;
    border-color: red;
}

.border-green {
    border-style: solid;
    border-color: green;
}