.individual-note {
    display: flex;
    flex-direction: column;
    justify-items: auto;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin: 15px;
}

.individual-note:hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-items: auto;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin: 15px;
    background-color: #e9e9e9;
}

.notes-container {
    max-height: 1000px;
    overflow-y: scroll;
}

.buttonDeleteColumn {
    padding: 4px 0px 10px 44px;
}

.border-brown {
    border-style: solid;
    border-color: brown;
}

.border-red {
    border-style: solid;
    border-color: red;
}

.border-green {
    border-style: solid;
    border-color: green;
}

.modalNewNoteButtonColumn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.titleContainer {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 350px;
    font-size: 37px;
    font-weight: 550;
}

.textContainer {
    max-height: 100px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    max-width: 500px;
}